
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));  
  grid-gap: 8px;
}